PORT=8000                     // default: 4000
SALT=yoursalt                 // REQUIRED
DB_HOST=127.0.0.1             // default: 127.0.0.1
DB_USER=youruser              // REQUIRED
DB_PASSWORD=yourpassword      // REQUIRED
DB_PORT=27017                 // default: 27017
DB_NAME=yourdbname            // default: six-cities
UPLOAD_DIRECTORY=/upload/     // REQUIRED
JWT_SECRET=secret             // REQUIRED
HOST=localhost                // default: localhost
STATIC_DIRECTORY_PATH=static  // default: static
