PORT=8000                 // default: 4000
SALT=yoursalt             // REQUIRED
DB_HOST=localhost         // default: 127.0.0.1
DB_USER=youruser          // REQUIRED
DB_PASSWORD=yourpassword  // REQUIRED
DB_PORT=27017             // default: 27017
DB_NAME=yourdbname        // default: six-cities
